@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
body {
  margin: 0;
}
header {
  height: 924px;
  background-image: url(./images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
a {
  margin-left: 40px;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 20px;
}
nav {
  margin-left: auto;
  margin-top: 60px;
}
.flexNav {
  display: flex;
}
.logo {
  margin-top: 60px;
  margin-left: 40px;
}
.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.gridBox {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 10% 30%;
}
.left {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.right {
  height: 100%;
  width: 100%;
}
.content {
  position: relative;
  bottom: 300px;
}
.clientTestimonials {
  padding-top: 100px;
  padding-bottom: 30px;
}
.clientContent {
  height: 500px;
  display: grid;
  grid-template-rows: 40px 460px;
}
.persons {
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
}
.emily {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thomas {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jennie {
  grid-column: 5/6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logoImg {
  height: 40px;
}
#contactButton {
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Fraunces", serif;
  background-color: white;
  color: black;
  font-size: 20px;
  height: 60px;
  width: 150px;
  border: 0px solid;
  border-radius: 30px;
}
#creativesText {
  color: white;
  text-align: center;
  margin-top: 150px;
  font-family: "Fraunces", serif;
  font-size: 90px;
  font-weight: 900;
}
#transformText {
  font-size: 50px;
  font-family: "Fraunces", serif;
  padding: 0px 80px 0px 80px;
}
#transformLetter {
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  font-size: 22px;
  padding: 0px 80px 0px 80px;
}
#learnMore {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  padding: 0px 80px 0px 80px;
}
#learnMoreYellowButton {
  z-index: 1;
  position: relative;
  bottom: 9px;
  width: 130px;
  height: 10px;
  background-color: hsl(51, 100%, 49%);
  opacity: 0.5;
  border: solid 0px;
  border-radius: 20px;
  margin-left: 70px;
}
#learnMoreYellowButton:hover {
  opacity: 1;
}
#learnMoreRedButton {
  z-index: 1;
  position: relative;
  bottom: 9px;
  margin-left: 70px;
  width: 130px;
  height: 10px;
  background-color: hsl(7, 99%, 70%);
  opacity: 0.5;
  border: solid 0px;
  border-radius: 20px;
}
#learnMoreRedButton:hover {
  opacity: 1;
}
#graphicDesingName {
  color: hsl(167, 40%, 24%);
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  font-family: "Fraunces", serif;
  font-size: 50px;
}
#graphicDesignText {
  color: hsl(167, 40%, 24%);
  text-align: center;
  align-self: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  grid-column: 1/2;
  grid-row: 3/4;
  margin-left: 200px;
  margin-right: 200px;
}
#photographyName {
  color: hsl(198, 62%, 26%);
  font-family: "Fraunces", serif;
  font-size: 50px;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  font-size: 50px;
}
#photographyText {
  color: hsl(198, 62%, 26%);
  text-align: center;
  align-self: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-left: 200px;
  margin-right: 200px;
}
#graphicBackground {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
}
#photographyBackground {
  grid-column: 2/3;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
}
#clientTestimonialsHead {
  font-size: 25px;
  align-self: center;
  justify-self: center;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Fraunces", serif;
  color: hsl(210, 4%, 67%);
  letter-spacing: 4px;
}
#personPhoto {
  border-radius: 50%;
}
#personSpeach {
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
}
#personName {
  font-family: "Fraunces", serif;
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 50px;
}
#personPosition {
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
}
