@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
body {
  margin: 0;
}
header {
  height: 924px;
  background-image: url(./images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
a {
  margin-left: 40px;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 20px;
}
nav {
  margin-left: auto;
  margin-top: 60px;
}
footer {
  height: 500px;
  background-color: hsl(168, 76%, 72%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
svg {
  fill: #2c7566;
}
svg:hover {
  fill: white;
}
.flexNav {
  display: flex;
}
.logo {
  margin-top: 60px;
  margin-left: 40px;
}
.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow {
  animation-name: arrow-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.gridBox {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 10% 30%;
}
.left {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.right {
  height: 100%;
  width: 100%;
}
.content {
  position: relative;
  bottom: 300px;
}
.clientTestimonials {
  padding-top: 100px;
  padding-bottom: 30px;
}
.clientContent {
  height: 500px;
  display: grid;
  grid-template-rows: 40px 460px;
}
.persons {
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
}
.emily {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thomas {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jennie {
  grid-column: 5/6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerPictures {
  height: 500px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.bottle {
  grid-column: 1/2;
}
.orange {
  grid-column: 2/3;
}
.iceCream {
  grid-column: 3/4;
}
.sugar {
  grid-column: 4/5;
}
.footerLinks {
  display: flex;
  justify-content: center;
}
.footerLogos {
  display: flex;
  justify-content: center;
}
#logoImg {
  height: 40px;
}
#contactButton {
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Fraunces", serif;
  background-color: white;
  color: black;
  font-size: 20px;
  height: 60px;
  width: 150px;
  border: 0px solid;
  border-radius: 30px;
}
#contactButton:hover {
  background-color: hsl(192, 100%, 73%);
  color: white;
}
#creativesText {
  color: white;
  text-align: center;
  margin-top: 150px;
  font-family: "Fraunces", serif;
  font-size: 90px;
  font-weight: 900;
}
#transformText {
  font-size: 50px;
  font-family: "Fraunces", serif;
  padding: 0px 80px 0px 80px;
}
#transformLetter {
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  font-size: 22px;
  padding: 0px 80px 0px 80px;
}
#learnMore {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  padding: 0px 80px 0px 80px;
}
#learnMoreYellowButton {
  z-index: 1;
  position: relative;
  bottom: 9px;
  width: 130px;
  height: 10px;
  background-color: hsl(51, 100%, 49%);
  opacity: 0.5;
  border: solid 0px;
  border-radius: 20px;
  margin-left: 70px;
}
#learnMoreYellowButton:hover {
  opacity: 1;
}
#learnMoreRedButton {
  z-index: 1;
  position: relative;
  bottom: 9px;
  margin-left: 70px;
  width: 130px;
  height: 10px;
  background-color: hsl(7, 99%, 70%);
  opacity: 0.5;
  border: solid 0px;
  border-radius: 20px;
}
#learnMoreRedButton:hover {
  opacity: 1;
}
#graphicDesignName {
  color: hsl(167, 40%, 24%);
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  font-family: "Fraunces", serif;
  font-size: 50px;
}
#graphicDesignText {
  color: hsl(167, 40%, 24%);
  text-align: center;
  align-self: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  grid-column: 1/2;
  grid-row: 3/4;
  margin-left: 200px;
  margin-right: 200px;
}
#photographyName {
  color: hsl(198, 62%, 26%);
  font-family: "Fraunces", serif;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  font-size: 50px;
}
#photographyText {
  color: hsl(198, 62%, 26%);
  text-align: center;
  align-self: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-left: 200px;
  margin-right: 200px;
}
#graphicBackground {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
}
#photographyBackground {
  grid-column: 2/3;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
}
#clientTestimonialsHead {
  font-size: 25px;
  align-self: center;
  justify-self: center;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Fraunces", serif;
  color: hsl(210, 4%, 67%);
  letter-spacing: 4px;
}
#personPhoto {
  border-radius: 50%;
}
#personSpeach {
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
}
#personName {
  font-family: "Fraunces", serif;
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 50px;
}
#personPosition {
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
}
#footerLinks {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 60px;
  font-size: 20px;
  color: hsl(168, 34%, 41%);
  font-family: "Barlow", sans-serif;
}
#footerLinks:hover {
  color: white;
}
#footerName {
  color: hsl(167, 39%, 33%);
  font-family: "Fraunces", serif;
  font-size: 50px;
  margin-top: 140px;
  margin-bottom: 0;
}
#footerLogo {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
}
#menuButton {
  margin-right: 50px;
  margin-top: 10px;
  display: none;
}
@media (max-width: 1490px) {
  #graphicDesignName {
    font-size: 30px;
  }
  #graphicDesignText {
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
  }
  #photographyName {
    font-size: 30px;
  }
  #photographyText {
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
  }
  #personSpeach {
    margin-left: 50px;
    margin-right: 50px;
  }
  .footerPictures {
    height: 400px;
  }
}
@media (max-width: 1000px) {
  #graphicDesignText {
    margin-left: 10px;
    margin-right: 10px;
  }
  #photographyText {
    margin-left: 10px;
    margin-right: 10px;
  }
  #personSpeach {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #transformText {
    font-size: 30px;
  }
  #transformLetter {
    font-size: 18px;
  }
  .footerPictures {
    height: 300px;
  }
}
@media (max-width: 820px) {
  nav > a {
    display: none;
  }
  #contactButton {
    display: none;
  }
  #menuButton {
    display: block;
  }
  #graphicDesignName {
    margin: 0;
  }
  #photographyName {
    margin: 0;
  }
}
@media (max-width: 700px) {
  #creativesText {
    margin-top: 50px;
    margin-bottom: 0;
  }
  header {
    height: 600px;
  }
  #transformText {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  #transformLetter {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  #graphicDesignText {
    margin: 0;
    margin-top: 15px;
  }
  #photographyText {
    margin: 0;
    margin-top: 15px;
  }
  #personSpeach {
    margin-left: 0;
    margin-right: 0;
  }
  .footerPictures {
    height: 200px;
  }
  footer {
    height: 300px;
  }
  #footerName {
    margin-top: 20px;
  }
  #footerLogo {
    margin-top: 20px;
  }
}
@media (max-width: 632px) {
  .box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .left {
    grid-row: 2/3;
  }
  .right {
    grid-row: 1/2;
  }
  .gridBox {
    grid-template-columns: 100%;
    grid-template-rows: 30% 5% 15% 30% 5% 15%;
  }
  #graphicDesignName {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 50px;
  }
  #graphicDesignText {
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 100px;
    margin-right: 100px;
  }
  #photographyName {
    grid-column: 1/2;
    grid-row: 5/6;
    font-size: 50px;
  }
  #photographyText {
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 6/7;
    margin-left: 100px;
    margin-right: 100px;
  }
  #graphicBackground {
    grid-column: 1/2;
    grid-row: 1/4;
    height: 100%;
    width: 100%;
  }
  #photographyBackground {
    grid-column: 1/2;
    grid-row: 4/7;
    height: 100%;
    width: 100%;
  }
  .clientContent {
    height: 1100px;
  }
  .persons {
    display: flex;
    flex-direction: column;
  }
  .footerPictures {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 100%;
  }
  .bottle {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .orange {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .iceCream {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .sugar {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media (max-width: 530px) {
  #creativesText {
    font-size: 35px;
  }
  .arrow {
    margin-top: 50px;
  }
  #graphicDesignName {
    font-size: 30px;
  }
  #graphicDesignText {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 17px;
  }
  #photographyName {
    font-size: 30px;
  }
  #photographyText {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 17px;
  }
  #footerLinks {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@keyframes arrow-animation {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 100px;
  }
}
